# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
staticfiles/
media/

# Environments
.env
venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Added by Claude Task Master
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 



.cursor
.roomodes
.taskmasterconfig
.windsurfrules
.roo
scripts
